node_modules
.env
.DS_Store

# Hardhat files
/cache
/artifacts
/cache-mpc
/artifacts-mpc
/cache-sim
/artifacts-sim

# Local simCOTI staging (do not commit if regenerated)
/contracts-mpc
/contracts-mpc-sim

# # TypeChain files
# /typechain
# /typechain-types
/typechain-types-mpc
/typechain-types-sim

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/.idea
.devcontainer
typechain-types
